# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependency files
*.d

# Fortran module files (safe to ignore even for C++ projects)
*.mod
*.smod

# CMake build directory
/build
/build-*/

# CodeBlocks project files
*.layout
*.depend
bin/
obj/

# Qt Creator & qmake
*.pro.user
*.qmake.cache
*.qmake.stash

# User-specific files and IDE settings (edit as needed)
*.swp
*.DS_Store

